.navbar-brand img {
    max-height: 100px;
    max-width: 200px;
}

.navbar {
    background-color: #F3E9F1 !important;
}

.col-sm-4 {
    margin-bottom: 25px;
    margin-top: 55px;
}

.accroche {
    max-height: 400px;
}

.card-img-top {
    min-height: 190px;
    min-width: 286px;
    max-height: 190px;
    max-width: 286px;
    object-fit: cover;
}

.home-img {
    max-height: 400px;
    min-width: 100%;
    object-fit: cover
}

.form-select {
    display: inline;
    
}

.card {
    margin: auto;
}

a {
    text-decoration: none;
    color: black;
}

.btn-outline-dark {
    width: 100%;
}

a:hover {
    color: inherit;
}

li {
    list-style-type: none;
}

footer {
    background-color: lightgrey;
}

@media screen and (min-width: 991px) and (max-width: 1900px) {
    .jumbotron-fluid {
        margin: 3rem !important;
    }
}

@media screen and (min-width: 580px) and (max-width: 990px) {
    .col-sm-3 {
        flex: 0 0 auto;
        width: 50% !important;
        }

    .col-sm-4 {
        min-width: 50%;
        }

    .m-5 {
        margin: 0rem !important;
    }
    
    .jumbotron-fluid {
        margin: 3rem !important;
    }
}

@media screen and (min-width: 375px) and (max-width: 579px) {
    .m-5 {
        margin: 0rem !important;
    }

    .jumbotron-fluid {
        margin: 2rem !important;
    }

    .productPrice {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}